/*------------------------carousal------------------------------------------*/


.carousel-inner {
    height:90vh;
    }

    .carousel-inner h5 {
        color:white;
        position: absolute;
        margin: auto;
        left: 0rem;
        right: 0rem;
        bottom: 20rem;
}

.carousel-inner p {
    color:white;
    position: absolute;
    margin: auto;
    left: 0rem;
    right: 0rem;
    bottom: 17rem;
}
    
   